{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
  </div>
</nav>

<div class ="container">
<h3>{% trans "このユーザーIDは無効です" %}</h3>

<p>
　お手数をお掛けしますが、事務局にご確認ください<br>
　事務局メールアドレス：emarc.strategy@gmail.com
</p>
{% endblock %}

</div>
