{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
  </div>
</nav>

<!--
<div class="content-wrapper">
<div class="container-fluid">
<div class="card mb-3">
<div class="card-header bg-primary">
<h3><b><font color="white">{% trans "Password Reset" %}</font></b></h3></div>
<div class="card-body">

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
-->

<div class ="container">
  <p class="h3">パスワード設定メール送信</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}

        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="{% trans 'パスワード設定メールを送る' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">ログイン画面</a>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
