{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
  </div>
</nav>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class ="container">
      <p class="h3">パスワード設定</p>
    <p>{% blocktrans %}パスワード設定用のメールを送信しました。数分たっても届かない場合はご連絡ください。{% endblocktrans %}</p>

    <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">ログイン画面</a>

</div>
{% endblock %}
