{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
  </div>
</nav>

<!--
<div class="content-wrapper">
    <div class="container-fluid">


        <div class="card mb-3">
            <div class="card-header bg-primary">
               <h3><b><font color="white">{% trans "Sign Up" %}</font></b></h3></div>
            <div class="card-body">

-->
<div class ="container">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <p class="h3">ユーザ登録</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

<table class="table">{{ form.as_table }}</table>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
