{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
        <li class="nav-item{% if page == 1 %} active{% endif %}">
            <a class="nav-link" href="upload1">1_オート広告除外</a>
        </li>
        <li class="nav-item{% if page == 2 %} active{% endif %}">
          <a class="nav-link" href="upload2">2_キーワード仕入れ</a>
        </li>
        <li class="nav-item{% if page == 3 %} active{% endif %}">
          <a class="nav-link" href="upload3">3_入札額調整</a>
        </li>
        <li class="nav-item{% if page == 4 %} active{% endif %}">
          <a class="nav-link" href="upload4">4_マニュアル保留設定</a>
        </li>
        <li class="nav-item{% if page == 5 %} active{% endif %}">
          <a class="nav-link" href="upload5">5_完全一致移行</a>
        </li>

      <div class="dropdown">
        <!-- 切替ボタンの設定 -->
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Exツール
        </a>
        <!-- ドロップメニューの設定 -->
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
            <a class="dropdown-item" href="upload0">Ex0_新規広告作成</a>
            <a class="dropdown-item" href="uploadEx1">Ex1_広告費削減施策</a>
          </div><!-- /.dropdown-menu -->
        </div><!-- /.dropdown-menu -->
      </div><!-- /.dropdown -->

<a class="nav-link justify-content-end" > <font color ="white">{{ user_ID }}</font></a>
<a class="nav-link justify-content-end" href="{% url 'account_logout' %}"">ログアウト</a>

</nav>



<div class ="container">
  <table border=0 >
    <td width=500 >
    <p class="h3" >
    {{ title  }}
    </p>
    </td>
    <!--
    <td width=750>
      -->


    <td width=170 rowspan=2>
      <table border=0  align=center>
        <td align="center">
          <font color =blue>
      <使い方動画>
        </font>
      </td>
        <tr>
      <td align="center" >
            <a href="https://youtu.be/bSgsY2j0ZYw" target="_blank">1_オート広告除外<a/>
      </td>
      <tr>
      <td align="center">
        <img border="0"  src="{% static 'qr/1_オート広告除外.png' %}" width="80">
      </td>
      </table>

    </td><tr height=50>

  <td></td>

  </table>
<div class="container-fluid">
<form action="" method="post" enctype="multipart/form-data">


<form method="POST">
  {% csrf_token %}
<strong>
  <table border=0 >
    <td>
    {{ form.click_through.label }}:
  </td>
  <td>
    {{ form.click_through }} %未満
  </td>
    <tr>
      <td>
    {{ form.file.label }}:
    </td>

    <td>
    {{ form.file }}
    </td>

  </table>

</strong>

  <font color = "red ">{{ help_text }}</font><br>

  <button type="submit" class="btn btn-primary">実行</button>

</form>

</div>
</div>
{% endblock %}
