{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark my-3">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">EMARC TOOL</a>
  <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item{% if page == 0 %} active{% endif %}">
          <a class="nav-link" href="upload0">0_新規広告作成</a>
          </li>
          <li class="nav-item{% if page == 1 %} active{% endif %}">
              <a class="nav-link" href="upload1">1_オート広告除外</a>
          </li>
          <li class="nav-item{% if page == 2 %} active{% endif %}">
            <a class="nav-link" href="upload2">2_キーワード仕入れ</a>
          </li>
          <li class="nav-item{% if page == 3 %} active{% endif %}">
            <a class="nav-link" href="upload3">3_入札額調整</a>
          </li>
          <li class="nav-item{% if page == 4 %} active{% endif %}">
            <a class="nav-link" href="upload4">4_マニュアル保留設定</a>
          </li>
          <li class="nav-item{% if page == 5 %} active{% endif %}">
            <a class="nav-link" href="upload5">5_完全一致移行</a>
          </li>

      </ul>
  </div>
  <a class="nav-link justify-content-end" > <font color ="white">{{ user_ID }}</font></a>
  <a class="nav-link justify-content-end" href="{% url 'account_logout' %}"">ログアウト</a>

</nav>

<div class ="container">
   <h3><font color=red>ファイルアップロードエラー</font></h3>
   <a > <font color=red> アップロードファイルに異常があります。</font></a><br>
 　<a>原因：</a><br>
 　<a>1.機能に対応したアップロードファイルであるか確認して下さい。</a><br>
 　<a>2.Amazonからダウンロードしたファイルが編集されていないことを確認して下さい。</a><br>

<p class="h3">
{{ title  }}
</p>

<br><br>
<div class="container-fluid">
</div>
</div>


{% endblock %}
